[submodule "vendor/jsoncpp"]
	path = vendor/jsoncpp
	url = git@github.com:codebudo/jsoncpp.git
[submodule "vendor/libexpat"]
	path = vendor/libexpat
	url = git@github.com:codebudo/libexpat.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/smarr/googletest.git
[submodule "vendor/srtp"]
	path = vendor/srtp
	url = git@github.com:codebudo/srtp.git
